In [2]:
import geopandas as gp 
import pandas as pd
from shapely.geometry import Point
from pathlib import Path
from zipfile import ZipFile

## Hard to count

In [2]:
htc_data = pd.read_excel('data/hard_to_count/pdb2015tract_2010MRR_2017ACS_NY.xlsx', skiprows=5, dtype={'GEOIDtxt' : 'str'})

In [3]:
tracts = gp.read_file('data/hard_to_count/tl_2018_36_tract.shp')

In [4]:
htc_data[htc_data.Stusps10=='NY'].to_csv('data/hard_to_count_NY.csv', index=False)

In [6]:
pd.merge(tracts,htc_data,left_on='GEOID',right_on='GEOIDtxt')

,STATEFP,COUNTYFP,TRACTCE,GEOID_x,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,...,Internet,DialUpOnly,Broadband_Any,Cellular,CellularOnly,Broadband_CableFiberOpticDSL,Broadband_CableFiberOpticDSLOnly,Satellite,SatelliteOnly,OtherOnly
0,36,007,012702,36007012702,127.02,Census Tract 127.02,G5020,S,65411230,228281,...,1682,11,1671,964,107,1528,647,85,26,10
1,36,007,012800,36007012800,128,Census Tract 128,G5020,S,12342855,259439,...,1718,3,1715,832,62,1635,877,31,0,0
2,36,007,012900,36007012900,129,Census Tract 129,G5020,S,14480253,63649,...,473,5,468,280,20,438,183,18,5,0
3,36,007,013000,36007013000,130,Census Tract 130,G5020,S,9934434,381729,...,1425,15,1410,739,65,1338,671,16,0,0
4,36,007,013202,36007013202,132.02,Census Tract 132.02,G5020,S,2451349,3681,...,1081,0,1081,578,57,990,449,48,34,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4907,36,027,640002,36027640002,6400.02,Census Tract 6400.02,G5020,S,2304853,13876,...,24,0,24,12,0,24,8,4,0,0
4908,36,027,130004,36027130004,1300.04,Census Tract 1300.04,G5020,S,24394743,363637,...,529,11,518,348,3,507,165,17,0,0
4909,36,027,050104,36027050104,501.04,Census Tract 501.04,G5020,S,25446931,234551,...,1972,0,1972,1138,38,1934,684,42,0,0
4910,36,119,014500,36119014500,145,Census Tract 145,G5020,S,2778952,14648,...,1767,0,1767,1044,66,1701,723,15,0,0
4911,36,061,016900,36061016900,169,Census Tract 169,G5020,S,180002,0,...,3888,23,3865,2556,111,3679,1235,47,0,28

## Facilities

In [220]:
with ZipFile('data/facilities_201912.csv.zip') as zf:
    facilities  = pd.read_csv(zf.open('facilities_201912.csv'), dtype={'censtract' :'str'})

In [221]:
types=['DAY CARE','EARLY EDUCATION PROGRAM','AFTERSCHOOL PROGRAMS', 'ELEMENTARY SCHOOL - NON-PUBLIC', 'RESIDENTIAL MENTAL HEALTH',
       'ELEMENTARY SCHOOL - PUBLIC','FOOD PANTRY']

facilities =facilities[facilities.factype.isin(types)]
facilities.shape

(6245, 37)

In [222]:
facility_cols = ['facname', 'addressnum', 'streetname', 'address', 'city', 'zipcode',
       'boro', 'borocode', 'bin', 'bbl', 'commboard', 'nta', 'council',
       'schooldist', 'censtract', 'factype','capacity', 'geometry',
       'uid']

In [223]:
facilities_geo = gp.GeoDataFrame(facilities,geometry = facilities.apply(lambda x: Point(x.longitude,x.latitude),axis=1), crs={'init':'EPSG:4326'})
facilities_geo = gp.GeoDataFrame(facilities_geo[facility_cols])

JOIN THESE WITH CENSUS TRACTS AT BOTTOM TO GET PROPER GEOID

In [224]:
facilities[facility_cols + ["latitude","longitude"]].to_csv('../public/facilities.csv', index=False)

In [225]:
facilities.censtract

1           NaN
2        018100
3           NaN
4           NaN
5           NaN
          ...
34247    023600
34249    025100
34251    009400
34258    039800
34270       NaN
Name: censtract, Length: 6245, dtype: object

## Mail Strategies

In [10]:
mail_strategy_data = pd.read_excel('data/2020-mail-strategies-by-tract.xlsx')

In [11]:
mail_strategy_data.BCUSTATEFP.value_counts().sort_index()

1     1173
2      119
4     1463
5      686
6     7987
8     1233
9      828
10     214
11     179
12    4174
13    1949
15     295
16     295
17    3116
18    1507
19     823
20     765
21    1095
22    1124
23     351
24    1387
25    1468
26    2759
27    1330
28     659
29    1390
30     260
31     528
32     675
33     294
34    1998
35     467
36    4874
37    2160
38     197
39    2943
40    1029
41     825
42    3209
44     240
45    1087
46     203
47    1488
48    5213
49     578
50     183
51    1879
53    1436
54     463
55    1393
56     124
Name: BCUSTATEFP, dtype: int64

In [12]:
mail_strategy_data.LANGUAGE.value_counts()

0    64378
1     7737
Name: LANGUAGE, dtype: int64

In [13]:
new_york_mail_strategy = mail_strategy_data[mail_strategy_data.BCUSTATEFP==36]

In [14]:
new_york_mail_strategy

       CONTACT_STRATEGY  LANGUAGE  BCUSTATEFP  BCUCOUNTYFP  BCUTRACTCE
42591                 1         0          36            1         100
42592                 2         0          36            1         200
42593                 1         0          36            1         300
42594                 1         0          36            1         401
42595                 1         0          36            1         403
...                 ...       ...         ...          ...         ...
47460                 1         0          36          123      150100
47461                 1         0          36          123      150200
47462                 1         0          36          123      150300
47463                 1         0          36          123      150400
47464                 1         0          36          123      150500

[4874 rows x 5 columns]

In [15]:
new_york_mail_strategy= (new_york_mail_strategy.assign(state  =new_york_mail_strategy.BCUSTATEFP.apply(lambda x :'{0:0>2}'.format(x)),
                              county =  new_york_mail_strategy.BCUCOUNTYFP.apply(lambda x: '{0:0>3}'.format(x)),
                              tract  = new_york_mail_strategy.BCUTRACTCE.apply(lambda x: '{0:0>6}'.format(x))
                             )
                      .assign(geoid = lambda x: x.state + x.county + x.tract))

new_york_mail_strategy = new_york_mail_strategy.set_index('geoid')

In [16]:
new_york_mail_strategy

,CONTACT_STRATEGY,LANGUAGE,BCUSTATEFP,BCUCOUNTYFP,BCUTRACTCE,state,county,tract
geoid,,,,,,,,
36001000100,1,0,36,1,100,36,001,000100
36001000200,2,0,36,1,200,36,001,000200
36001000300,1,0,36,1,300,36,001,000300
36001000401,1,0,36,1,401,36,001,000401
36001000403,1,0,36,1,403,36,001,000403
...,...,...,...,...,...,...,...,...
36123150100,1,0,36,123,150100,36,123,150100
36123150200,1,0,36,123,150200,36,123,150200
36123150300,1,0,36,123,150300,36,123,150300
36123150400,1,0,36,123,150400,36,123,150400
36123150500,1,0,36,123,150500,36,123,150500

In [50]:
new_york_mail_strategy.LANGUAGE.value_counts()

0    4202
1     672
Name: LANGUAGE, dtype: int64

## Geojson

In [79]:
htc_data.

11

In [165]:
htc_data[htc_data.GEOIDtxt==36047000501]

,GEOID,GEOIDtxt,State,Stusps10,State_name,County10,County_name10,Tract10,MRR2010,MRR20pctthreshold,...,Internet,DialUpOnly,Broadband_Any,Cellular,CellularOnly,Broadband_CableFiberOpticDSL,Broadband_CableFiberOpticDSLOnly,Satellite,SatelliteOnly,OtherOnly
1097,36047000501,36047000501,36,NY,New York,47,Kings County,5.01,85.6,0,...,1440,38,1402,901,36,1366,501,0,0,0

In [159]:
htc_data[htc_data.County_name10=='Kings County']

,GEOID,GEOIDtxt,State,Stusps10,State_name,County10,County_name10,Tract10,MRR2010,MRR20pctthreshold,...,Internet,DialUpOnly,Broadband_Any,Cellular,CellularOnly,Broadband_CableFiberOpticDSL,Broadband_CableFiberOpticDSLOnly,Satellite,SatelliteOnly,OtherOnly
1094,36047000100,36047000100,36,NY,New York,47,Kings County,1.00,84.6,0,...,1843,20,1823,1110,79,1715,690,83,0,0
1095,36047000200,36047000200,36,NY,New York,47,Kings County,2.00,62.7,1,...,231,0,231,118,38,193,89,31,0,0
1096,36047000301,36047000301,36,NY,New York,47,Kings County,3.01,84.3,0,...,1739,10,1729,1231,119,1610,457,44,0,0
1097,36047000501,36047000501,36,NY,New York,47,Kings County,5.01,85.6,0,...,1440,38,1402,901,36,1366,501,0,0,0
1098,36047000502,36047000502,36,NY,New York,47,Kings County,5.02,85.6,0,...,1453,19,1434,960,35,1399,464,17,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1850,36047122000,36047122000,36,NY,New York,47,Kings County,1220.00,59.8,1,...,1868,0,1868,635,164,1675,1137,119,29,0
1851,36047123700,36047123700,36,NY,New York,47,Kings County,1237.00,59.4,1,...,612,0,612,312,84,528,271,29,0,0
1852,36047150200,36047150200,36,NY,New York,47,Kings County,1502.00,73.0,1,...,917,5,912,423,31,881,471,27,0,0
1853,36047152200,36047152200,36,NY,New York,47,Kings County,1522.00,73.0,1,...,1003,0,1003,596,62,900,348,73,22,0
1854,36047990100,36047990100,36,NY,New York,47,Kings County,9901.00,99999.0,0,...,0,0,0,0,0,0,0,0,0,0

In [163]:
census_tracts[census_tracts.boro_name=='Brooklyn']

,ntacode,shape_area,ntaname,shape_leng,boro_name,puma,ct2010,boro_code,cdeligibil,boro_ct2010,ctlabel,geometry,ct_county,CONTACT_STRATEGY,LANGUAGE
geoid,,,,,,,,,,,,,,,
36047000501,BK09,901506.992481,Brooklyn Heights-Cobble Hill,4828.17004215,Brooklyn,4004,000501,3,I,3000501,5.01,"MULTIPOLYGON (((-73.99302 40.69746, -73.99379 ...",047,1,0
36047004100,BK38,1744094.3952,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,5283.85665969,Brooklyn,4004,004100,3,I,3004100,41,"MULTIPOLYGON (((-73.98182 40.68733, -73.98223 ...",047,1,0
36047005800,BK31,2080303.31132,Bay Ridge,6098.16780024,Brooklyn,4013,005800,3,E,3005800,58,"MULTIPOLYGON (((-74.02956 40.61983, -74.02821 ...",047,1,0
36047006000,BK31,1639074.04175,Bay Ridge,5498.33438728,Brooklyn,4013,006000,3,I,3006000,60,"MULTIPOLYGON (((-74.02835 40.62280, -74.02864 ...",047,1,0
36047006700,BK33,1680804.38927,Carroll Gardens-Columbia Street-Red Hook,5236.04791182,Brooklyn,4005,006700,3,I,3006700,67,"MULTIPOLYGON (((-73.99441 40.68545, -73.99458 ...",047,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36047016000,BK31,2785264.01265,Bay Ridge,7935.13018528,Brooklyn,4013,016000,3,E,3016000,160,"MULTIPOLYGON (((-74.02621 40.62149, -74.02536 ...",047,1,0
36047016200,BK31,2621970.92342,Bay Ridge,8493.77995794,Brooklyn,4013,016200,3,I,3016200,162,"MULTIPOLYGON (((-74.02615 40.61626, -74.02634 ...",047,1,0
36047016400,BK31,8407411.10496,Bay Ridge,16774.4313677,Brooklyn,4013,016400,3,I,3016400,164,"MULTIPOLYGON (((-74.02575 40.61606, -74.02607 ...",047,1,0
36047099800,BK50,4646409.38024,Canarsie,13384.9779176,Brooklyn,4009,099800,3,I,3099800,998,"MULTIPOLYGON (((-73.90735 40.63083, -73.90703 ...",047,1,0
36047102800,BK50,8901544.61196,Canarsie,14144.0358003,Brooklyn,4009,102800,3,I,3102800,1028,"MULTIPOLYGON (((-73.88314 40.62793, -73.88369 ...",047,1,0

In [150]:
htc_data.set_index("GEOIDtxt")

,GEOID,State,Stusps10,State_name,County10,County_name10,Tract10,MRR2010,MRR20pctthreshold,UE_flag,...,Internet,DialUpOnly,Broadband_Any,Cellular,CellularOnly,Broadband_CableFiberOpticDSL,Broadband_CableFiberOpticDSLOnly,Satellite,SatelliteOnly,OtherOnly
GEOIDtxt,,,,,,,,,,,,,,,,,,,,,
36001000100,36001000100,36,NY,New York,1,Albany County,1.00,67.9,1,0,...,683,0,683,389,106,574,286,35,3,0
36001000200,36001000200,36,NY,New York,1,Albany County,2.00,60.4,1,0,...,1410,15,1395,790,185,1182,605,7,0,0
36001000300,36001000300,36,NY,New York,1,Albany County,3.00,73.0,1,0,...,1857,19,1838,791,175,1663,994,9,0,0
36001000401,36001000401,36,NY,New York,1,Albany County,4.01,88.1,0,0,...,808,0,808,344,29,779,433,0,0,0
36001000403,36001000403,36,NY,New York,1,Albany County,4.03,76.9,0,0,...,1978,0,1978,923,122,1824,1039,16,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36123150100,36123150100,36,NY,New York,123,Yates County,1501.00,90.2,0,0,...,1710,6,1704,910,162,1385,685,165,56,8
36123150200,36123150200,36,NY,New York,123,Yates County,1502.00,84.6,0,0,...,1227,22,1205,674,82,998,498,118,19,14
36123150300,36123150300,36,NY,New York,123,Yates County,1503.00,90.7,0,0,...,1534,30,1504,808,182,1145,522,218,132,7
36123150400,36123150400,36,NY,New York,123,Yates County,1504.00,91.9,0,0,...,873,0,873,539,115,683,303,74,15,8
36123150500,36123150500,36,NY,New York,123,Yates County,1505.00,89.8,0,0,...,1251,35,1216,625,81,1047,534,111,31,11

In [17]:
census_tracts = gp.read_file('../public/2010 Census Tracts.geojson')
def strategy_code(x):
    if( x.CONTACT_STRATEGY==1 and x.LANGUAGE == 0):
        return 0
    if(x.CONTACT_STRATEGY==1 and x.LANGUAGE == 1):
        return 1
    if(x.CONTACT_STRATEGY==2 and x.LANGUAGE == 0):
        return 2
    if(x.CONTACT_STRATEGY==2 and x.LANGUAGE == 1):
        return 3
    
    
def boro_to_county(boro_code):
    if boro_code =='1':
        return '061'
    if boro_code =='2':
        return '005'
    if boro_code =='3':
        return '047'
    if boro_code =='4':
        return '081'
    if boro_code =='5':
        return '085'
    
census_tracts= census_tracts.assign(ct_county = census_tracts.boro_code.apply(lambda x : boro_to_county(x)))
census_tracts = census_tracts.assign(geoid = '36' + census_tracts.ct_county + census_tracts.ct2010 ).set_index('geoid')

census_tracts= census_tracts.join(new_york_mail_strategy[ ['CONTACT_STRATEGY',"LANGUAGE"]],how='inner')
census_tracts = census_tracts.join(htc_data.set_index('GEOIDtxt'), how='inner')
census_tracts= census_tracts.assign(strategy_code = census_tracts.apply(lambda x: strategy_code(x),axis=1))
census_tracts.plot(column="CONTACT_STRATEGY")

In [18]:
census_tracts.to_file('../public/CensusTractsAllVariables.geojson', driver ='GeoJSON', `)

In [3]:
import json
import geopandas as gp

In [156]:
def addID(feature, id_col="GEOID"):
    feature['id'] = feature['properties'][id_col]
    return feature

In [157]:
with open("../public/census_tracts.geojson",'r') as f:
    tracts = json.load(f)
    tracts['features'] =[ addID(feature) for feature in tracts['features']]

In [158]:
with open('../public/census_tracts.geojson','w') as f:
    json.dump(tracts,f)

In [171]:
census_tracts.CONTACT_STRATEGY.value_counts()

1    1446
2     698
Name: CONTACT_STRATEGY, dtype: int64

facilities

In [235]:
gp.sjoin(facilities_geo,census_tracts)[facility_cols+['GEOID']].to_file('../public/facilities.geojson', driver='GeoJSON')

/home/jovyan/.local/lib/python3.7/site-packages/geopandas/tools/sjoin.py:61: UserWarning: CRS of frames being joined does not match!(None != {'init': 'epsg:4326'})
  "(%s != %s)" % (left_df.crs, right_df.crs)

## New Data

In [130]:
tracts = gp.read_file('../public/CensusTractsAllVariables.geojson')

In [131]:
import pandas as pd 
import numpy as np

In [132]:
total_pop = pd.read_csv('NewData/ACSDT5Y2018.B01003_TotalPopulation.csv' ,skiprows=1, dtype={'id':str})
total_pop = total_pop.rename(columns={'Estimate!!Total':'total_population'})[['id','total_population']]
total_pop['GEOID'] = total_pop['id'].str.split("US").str[-1].astype('int64')
total_pop = total_pop.drop('id',axis=1)

In [133]:
new_tracts = total_pop.set_index("GEOID").join(tracts[['GEOID','MRR2010','MRR20pctthreshold','strategy_code']].set_index('GEOID'),how='inner')

In [134]:
race = pd.read_csv('NewData/ACSDT5Y2018.B03002_race_nyc.csv' ,skiprows=1, dtype={'id':str})
race = race.rename(columns={
  'Estimate!!Total' : 'race_total',
  'Estimate!!Total!!Not Hispanic or Latino!!White alone': 'race_white',
  'Estimate!!Total!!Not Hispanic or Latino!!Black or African American alone' : 'race_black',
  'Estimate!!Total!!Not Hispanic or Latino!!American Indian and Alaska Native alone': 'race_native_american',
  'Estimate!!Total!!Not Hispanic or Latino!!Asian alone': 'race_asian',
  'Estimate!!Total!!Not Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone' : 'race_hawaiian',
 'Estimate!!Total!!Not Hispanic or Latino!!Some other race alone' : 'race_other',
    'Estimate!!Total!!Hispanic or Latino' : 'race_hispanic'
}).drop(['Geographic Area Name','Estimate!!Total!!Not Hispanic or Latino'],axis=1)

race = race.assign(GEOID=race.id.str.split('US').str[-1].astype('int64')).drop('id',axis=1).set_index("GEOID")
new_tracts = new_tracts.join(race,how='inner')

In [135]:
race

,race_total,race_white,race_black,race_native_american,race_asian,race_hawaiian,race_other,race_hispanic
GEOID,,,,,,,,
36005042902,4205,210,977,19,198,0,22,2744
36005033000,5885,2277,746,0,0,0,107,2755
36005035800,8054,370,5762,0,179,0,0,1726
36005037100,4322,97,1248,0,18,0,81,2811
36005038500,4757,12,1388,0,0,0,0,3357
...,...,...,...,...,...,...,...,...
36085017012,4444,3638,17,0,164,0,0,574
36085024402,4654,4251,33,0,179,0,0,191
36085027705,5843,3786,123,0,1238,0,0,440
36085027706,3520,1897,432,0,679,0,23,417
36085990100,0,0,0,0,0,0,0,0

In [136]:
foreign_born =  pd.read_csv('NewData/ACSDT5Y2018.B05002_ForeignBorn_NYC_Updated.csv' ,skiprows=1, dtype={'id':str})
foreign_born = foreign_born.rename(columns={ 'Estimate!!Total': 'foreign_born_total',
                                            'Estimate!!Total!!Native' : 'foreign_born_native',
                                            'Estimate!!Total!!Foreign born': 'foreign_born_foreign'
                                           }).drop(['Geographic Area Name'],axis=1)
foreign_born=foreign_born.assign(GEOID=foreign_born.id.astype('int64')).set_index('GEOID').drop("id",axis=1)
new_tracts = new_tracts.join(foreign_born,how='inner')

In [137]:
own_vs_rent = pd.read_csv("NewData/ACSDT5Y2018.B25003_Tenure_OwnVSRent.csv",skiprows=1,dtype={'id':str})
own_vs_rent = own_vs_rent.rename(columns={'Estimate!!Total':'own_vs_rent_total', 
                            'Estimate!!Total!!Owner occupied':'own_vs_rent_owner',
                            'Estimate!!Total!!Renter occupied':'own_vs_rent_rent'}).drop(['Geographic Area Name'],axis=1)
own_vs_rent = own_vs_rent.assign(GEOID=own_vs_rent.id.str.split('US').str[-1].astype('int64')).drop('id',axis=1).set_index("GEOID")
own_vs_rent = own_vs_rent[['own_vs_rent_total','own_vs_rent_owner','own_vs_rent_rent']]
new_tracts = new_tracts.join(own_vs_rent,how='inner')

In [138]:
avg_household_size = pd.read_csv('NewData/ACSDT5Y2018.B25010_AvgHouseholdSize.csv',skiprows=1,dtype={'id':str})
avg_household_size = (avg_household_size.rename(columns= { 'Estimate!!Total' : 'hosehold_size_total',
                                                        'Estimate!!Total!!Owner occupied' : 'household_size_owner_occupied',
                                                        'Estimate!!Total!!Renter occupied' : 'household_size_renter_occupied'})
                                                .drop(['Geographic Area Name', 'Margin of Error!!Total', 
                                                       'Margin of Error!!Total!!Owner occupied',
                                                       'Margin of Error!!Total!!Renter occupied'],axis=1))
avg_household_size = avg_household_size.assign(GEOID=avg_household_size.id.str.split("US").str[-1].astype('int64')).drop('id',axis=1).set_index("GEOID")
new_tracts = new_tracts.join(avg_household_size,how='inner')

In [139]:
# rent_burden = pd.read_csv('NewData/ACSDT5Y2018.B25074_RentBurden.csv', skiprows=1, dtype={'id':str})
# rent_burden = rent_burden.rename(columns={'Estimate!!Total' : 'rent_burden_total',
#                                          'Estimate!!Total!!Less than $10,000' : 'rent_burden_less_10_000_total',
#                                          'Estimate!!Total!!Less than $10,000!!Less than 20.0 percent',: 'rent_burden_less_10_000_less_20pc',
#                                          })

In [140]:
internet = pd.read_csv('NewData/ACSDT5Y2018.B28002_InternetSubscriptions_Updated.csv', skiprows=1, dtype={'id':str})
internet = internet.rename(columns={'Estimate!!Total' : 'internet_total', 'Estimate!!Total!!With an Internet subscription': 'internet_subscription',
                        'Estimate!!Total!!Internet access without a subscription': 'internet_no_subscription',
                       'Estimate!!Total!!No Internet access' : 'internet_no_access' }).drop(['Geographic Area Name'],axis=1)
internet = internet.assign(GEOID=internet.id.str.split("US").str[-1].astype('int64')).drop('id',axis=1).set_index("GEOID")
new_tracts = new_tracts.join(internet,how='inner')

In [141]:
computer = pd.read_csv("NewData/ACSDT5Y2018.B28003_HasAComputer.csv",skiprows=1,dtype={"id":str})
cols = [ col for col in computer if '!'in col and not 'Margin' in col]
new_cols = ["computer_{}".format(col.split("!!")[-1].lower().replace(" ","_")  ) for col in cols]
computer = computer.rename(columns= dict(zip(cols,new_cols)))[['id']+new_cols]

In [142]:
age = pd.read_csv("NewData/ACSST5Y2018.S0101_Age_NYC.csv", skiprows=1,dtype={"id":str})
age = age.assign(age_total = age['Estimate!!Total!!Total population'],
          age_less_5 = age['Estimate!!Total!!Total population!!AGE!!Under 5 years'],
          age_6_15 = age['Estimate!!Total!!Total population!!AGE!!5 to 9 years']+ age['Estimate!!Total!!Total population!!AGE!!10 to 14 years'] ,
          age_16_64 = age[['Estimate!!Total!!Total population!!AGE!!10 to 14 years',
                           'Estimate!!Total!!Total population!!AGE!!15 to 19 years',
                          'Estimate!!Total!!Total population!!AGE!!20 to 24 years',
                            'Estimate!!Total!!Total population!!AGE!!25 to 29 years',
                          'Estimate!!Total!!Total population!!AGE!!30 to 34 years',
                            'Estimate!!Total!!Total population!!AGE!!35 to 39 years',
                            'Estimate!!Total!!Total population!!AGE!!40 to 44 years',
                            'Estimate!!Total!!Total population!!AGE!!45 to 49 years',
                            'Estimate!!Total!!Total population!!AGE!!50 to 54 years',
                            'Estimate!!Total!!Total population!!AGE!!55 to 59 years',
                            'Estimate!!Total!!Total population!!AGE!!60 to 64 years']].sum(axis=1),
         age_64_over = age[['Estimate!!Total!!Total population!!AGE!!65 to 69 years',
       'Estimate!!Total!!Total population!!AGE!!70 to 74 years',
       'Estimate!!Total!!Total population!!AGE!!75 to 79 years',
       'Estimate!!Total!!Total population!!AGE!!80 to 84 years',
       'Estimate!!Total!!Total population!!AGE!!85 years and over']].sum(axis=1),
           
        GEOID = age.id.astype('int64')
         ).set_index('GEOID')[['age_total','age_less_5','age_6_15','age_16_64','age_64_over']]
new_tracts=new_tracts.join(age,how='inner')

In [143]:
income = pd.read_csv('NewData/ACSST5Y2018.S1901_IncomeHouseholds_NYC.csv',skiprows=1,dtype={
    "id":'int64'})
income = income.assign(median_income = income['Estimate!!Households!!Median income (dollars)'],
              pc_below_poverty = income[['Estimate!!Households!!Total!!Less than $10,000',
       'Estimate!!Households!!Total!!$10,000 to $14,999',
       'Estimate!!Households!!Total!!$15,000 to $24,999']].apply(pd.to_numeric,  errors='coerce').sum(axis=1))

income = income.assign(income_houses_total = income['Estimate!!Households!!Total'],
                      homes_below_poverty = income.pc_below_poverty*income['Estimate!!Households!!Total']/100.0)

income = income.assign(GEOID=income['id']).set_index('GEOID')
new_tracts= new_tracts.join(income[['median_income','pc_below_poverty','income_houses_total','homes_below_poverty']],how='inner')

In [144]:
english_proficency = pd.read_csv("NewData/ACSST5Y2018.S1602_LimitedEnglishProficiency.csv", skiprows=1,dtype={"id":str})
english_proficency = english_proficency.assign(GEOID=english_proficency.id.str.split('US').str[-1].astype('int64')).drop('id',axis=1)
english_proficency = english_proficency.assign( english_total_households = english_proficency['Estimate!!Total!!All households'], 
                           english_spanish = english_proficency['Estimate!!Total!!All households!!Households speaking --!!Spanish'],
                           english_european = english_proficency['Estimate!!Total!!All households!!Households speaking --!!Other Indo-European languages'],
                           english_asian  = english_proficency['Estimate!!Limited English-speaking households!!All households!!Households speaking --!!Asian and Pacific Island languages'],
                           english_other  = english_proficency['Estimate!!Total!!All households!!Households speaking --!!Other languages']
                         )
english_proficency = english_proficency.assign(english_english =  
                                               english_proficency.english_total_households - english_proficency[['english_spanish','english_european','english_asian','english_other']].sum(axis=1)
                                              )
english_proficency= english_proficency[[
    'GEOID',
    'english_total_households',
    'english_spanish',
    'english_european',
    'english_asian',
    'english_other',
    'english_english']].set_index('GEOID')

new_tracts= new_tracts.join(english_proficency,how='inner')

In [145]:
disability = pd.read_csv("NewData/ACSST5Y2018.S1810_Disability_Updated.csv",skiprows=1, dtype={'GEO_ID':str})
disability=disability.assign(
    hearing_difficulty = disability['Estimate!!Total!!Subject!!DISABILITY TYPE BY DETAILED AGE!!With a hearing difficulty!!Population 18 to 64 years'],
    vision_difficulty = disability['Estimate!!Total!!Subject!!DISABILITY TYPE BY DETAILED AGE!!With a vision difficulty!!Population 18 to 64 years'],
    cognative_difficulty= disability['Estimate!!Total!!Subject!!DISABILITY TYPE BY DETAILED AGE!!With a cognitive difficulty!!Population 18 to 64 years'],
    ambulatory_difficulty = disability['Estimate!!Total!!Subject!!DISABILITY TYPE BY DETAILED AGE!!With an ambulatory difficulty!!Population 18 to 64 years'],
    self_care_difficulty = disability['Estimate!!Total!!Subject!!DISABILITY TYPE BY DETAILED AGE!!With an independent living difficulty!!Population 18 to 64 years'],
    independent_living_difficulty = disability['Estimate!!Total!!Subject!!DISABILITY TYPE BY DETAILED AGE!!With an independent living difficulty!!Population 18 to 64 years'],
)

disability = disability.assign(GEOID=disability.id.str.split("US").str[-1].astype('int64')).drop('id',axis=1).set_index("GEOID")
disability[['hearing_difficulty','vision_difficulty','cognative_difficulty','ambulatory_difficulty','self_care_difficulty','independent_living_difficulty']]
new_tracts= new_tracts.join(disability,how='inner')

In [146]:
all_joined = gp.GeoDataFrame(new_tracts.join(tracts.set_index('GEOID')[['geometry']],how='inner').reset_index().rename(columns={'index':"GEOID"}))

In [147]:
all_joined = all_joined.assign(gid=all_joined.GEOID).set_index('gid')

In [148]:
all_joined.to_file('../public/census_tracts.geojson',driver='GeoJSON')

## Other boundaries

In [190]:
community_districts = gp.read_file('../public/boundaries/cd.geojson')
city_council_districts =gp.read_file('../public/boundaries/cc.geojson')
school_districts = gp.read_file('../public/boundaries/sd.geojson')
ntas = gp.read_file('../public/boundaries/nta.geojson')
congress_assembly_districts = gp.read_file('../public/boundaries/nycongress.geojson')
senate_districts = gp.read_file('../public/boundaries/ss.geojson')
police_precincts = gp.read_file('../public/boundaries/pp.geojson')
noccs = gp.read_file('../ETL/NewData/nocc_boundaries.shp').to_crs({'init':'EPSG:4326'}).dropna(subset=['boro_code'])

noccs=noccs.assign(geoid = noccs.boro_code.astype(int).astype(str)  + noccs.NCode.str[1:] )

In [186]:
def generate_boundary_level(boundary,census_tracts,boundary_id):
    intersection = gp.overlay(census_tracts,boundary).assign(area=lambda x:x.area)
    intersection = (intersection.set_index('GEOID').assign(tract_area = census_tracts.set_index("GEOID").area)
                                   .assign(tract_fraction = lambda x: x.area/x.tract_area))
    
    intersection = intersection.rename(columns={boundary_id:'geoid'})
    
    addative_vars = ['total_population', 'MRR2010', 'MRR20pctthreshold',
           'race_total', 'race_white', 'race_black',
       'race_native_american', 'race_asian', 'race_hawaiian', 'race_other',
       'race_hispanic', 'foreign_born_total', 'foreign_born_native',
       'foreign_born_foreign', 'own_vs_rent_total', 'own_vs_rent_owner',
       'own_vs_rent_rent', 'hosehold_size_total',
       'household_size_owner_occupied', 'household_size_renter_occupied',
       'internet_total', 'internet_subscription', 'internet_no_subscription',
       'internet_no_access', 'age_total', 'age_less_5', 'age_6_15',
       'age_16_64', 'age_64_over', 'median_income', 'pc_below_poverty',
       'income_houses_total', 'homes_below_poverty',
       'english_total_households', 'english_spanish', 'english_european',
       'english_asian', 'english_other', 'english_english' ]
    

    addative = intersection[addative_vars].apply(pd.to_numeric,errors='coerce').apply(lambda x: x * intersection.tract_fraction)
    addative = addative.assign(geoid = intersection.geoid)
    addative = addative.assign(htc_pop = addative.MRR20pctthreshold*addative.total_population)
    addative = addative.groupby('geoid').sum()
    
        
    addative = gp.GeoDataFrame(addative.join(boundary.rename(columns={boundary_id:'geoid'}).set_index('geoid')[['geometry']]))
    addative = addative.reset_index()
    return addative

In [195]:
noccs

,boro_code,NCode,Neighborho,boro,quintile,irr,Type,geometry,geoid
0,4.0,Q35,Jamaica Hills,Queens,1,0.51800000000000002,1,"POLYGON ((-73.80484 40.70934, -73.80501 40.709...",435
1,4.0,Q36,Kew Gardens,Queens,4,0.66300000000000003,1,"POLYGON ((-73.83063 40.70162, -73.83152 40.701...",436
2,4.0,Q37,Kew Gardens Hills,Queens,3,0.63800000000000001,1,"POLYGON ((-73.80784 40.71600, -73.80782 40.715...",437
3,4.0,Q38,Laurelton,Queens,2,0.55900000000000005,1,"POLYGON ((-73.75073 40.66640, -73.75176 40.666...",438
4,4.0,Q31,Howard Beach,Queens,4,0.66500000000000004,1,"MULTIPOLYGON (((-73.85722 40.65028, -73.85902 ...",431
...,...,...,...,...,...,...,...,...,...
248,1.0,M21,Little Italy,Manhattan,2,0.6,1,"POLYGON ((-73.99543 40.71728, -73.99581 40.716...",121
249,1.0,M22,Lower East Side,Manhattan,5,0.69299999999999995,1,"MULTIPOLYGON (((-73.98233 40.70555, -73.98237 ...",122
250,1.0,M23,Manhattan Valley,Manhattan,5,0.755,1,"POLYGON ((-73.96371 40.79301, -73.96381 40.792...",123
251,3.0,K50,Sheepshead Bay,Brooklyn,2,0.61,1,"POLYGON ((-73.95517 40.58292, -73.95571 40.582...",350
252,4.0,Q39,Lindenwood,Queens,4,0.67100000000000004,1,"MULTIPOLYGON (((-73.86045 40.65507, -73.86030 ...",439

In [196]:
# community_districts_with_vars = generate_boundary_level(community_districts,all_joined,'boro_cd')
# city_council_district_with_vars = generate_boundary_level(city_council_districts,all_joined,'coun_dist')
# school_districts_with_vars = generate_boundary_level(school_districts,all_joined,'school_dist')
# ntas_with_vars = generate_boundary_level(ntas,all_joined,'ntacode')
# congress_assembly_districts_with_vars = generate_boundary_level(congress_assembly_districts,all_joined,'cong_dist')
# senate_districts_with_vars = generate_boundary_level(senate_districts,all_joined,'st_sen_dist')
# police_precincts_with_vars = generate_boundary_level(police_precincts,all_joined,'precinct')
noccs_with_vars = generate_boundary_level(noccs,all_joined,'geoid')


# community_districts_with_vars.to_file('../public/boundaries/community_districts_vars.geojson',driver='GeoJSON')
# city_council_district_with_vars.to_file('../public/boundaries/city_council_district_with_vars.geojson',driver='GeoJSON')
# school_districts_with_vars.to_file('../public/boundaries/school_districts_with_vars.geojson',driver='GeoJSON')
# ntas_with_vars.to_file('../public/boundaries/ntas_with_vars.geojson',driver='GeoJSON')
# congress_assembly_districts_with_vars.to_file('../public/boundaries/congress_assembly_with_vars.geojson',driver='GeoJSON')
# senate_districts_with_vars.to_file('../public/boundaries/senate_districts_with_vars.geojson',driver='GeoJSON')
# police_precincts_with_vars.to_file('../public/boundaries/police_precincts_with_vars.geojson', driver='GeoJSON')
noccs_with_vars.to_file('../public/boundaries/noccs_with_vars.geojson',driver='GeoJSON')

In [153]:
def generate_labels(boundary,id_col):
    result = boundary.rename(columns={id_col:'geoid'}) 
    result = result.assign(geometry=result.geometry.centroid)
    return result

In [154]:
community_district_labels = generate_labels(community_districts,'boro_cd')
city_council_district_labels = generate_labels(city_council_districts,'coun_dist')
school_district_labels = generate_labels(school_districts,'school_dist')
nta_labels = generate_labels(ntas,'ntacode')
congress_assembly_district_labels = generate_labels(congress_assembly_districts,'cong_dist')
senate_districts_labels = generate_labels(senate_districts,'st_sen_dist')
police_precincts_labels = generate_labels(police_precincts,'precinct')
noccs_labels = generate_labels(noccs,'NCode')

community_district_labels.to_file('../public/boundaries/communty_district_labels.geojson',driver='GeoJSON')
city_council_district_labels.to_file('../public/boundaries/city_council_district_labels.geojson',driver='GeoJSON')
school_district_labels.to_file('../public/boundaries/school_district_labels.geojson',driver='GeoJSON')
nta_labels.to_file('../public/boundaries/nta_labels.geojson',driver='GeoJSON')
congress_assembly_district_labels.to_file('../public/boundaries/congress_assembly_district_labels.geojson',driver="GeoJSON")
senate_districts_labels.to_file('../public/boundaries/senate_districts_labels.geojson',driver='GeoJSON')
police_precincts_labels.to_file('../public/boundaries/police_precincts_labels.geojson',driver='GeoJSON')
noccs_labels.to_file('../public/boundaries/noccs_labels.geojson',driver='GeoJSON')

In [197]:

def assign_id_file(file):
    with open(file,'r') as f:
        features = json.load(f)
        features['features'] =[ addID(feature,'geoid') for feature in features['features']]

    with open(file,'w') as f:
        json.dump(features,f)
        
fids = [
   '../public/boundaries/community_districts_vars.geojson',
    '../public/boundaries/city_council_district_with_vars.geojson',
    '../public/boundaries/school_districts_with_vars.geojson',
    '../public/boundaries/ntas_with_vars.geojson',
    '../public/boundaries/congress_assembly_with_vars.geojson',
    '../public/boundaries/senate_districts_with_vars.geojson',
    '../public/boundaries/police_precincts_with_vars.geojson',
    '../public/boundaries/noccs_with_vars.geojson',
 '../public/boundaries/communty_district_labels.geojson',
    '../public/boundaries/city_council_district_labels.geojson',
    '../public/boundaries/school_district_labels.geojson',
    '../public/boundaries/nta_labels.geojson',
    '../public/boundaries/congress_assembly_district_labels.geojson',
    '../public/boundaries/senate_districts_labels.geojson',
    '../public/boundaries/police_precincts_labels.geojson',
    '../public/boundaries/noccs_labels.geojson'
]

for fid in fids:
    assign_id_file(fid)

In [199]:
all_joined.columns

Index(['GEOID', 'total_population', 'MRR2010', 'MRR20pctthreshold',
       'strategy_code', 'race_total', 'race_white', 'race_black',
       'race_native_american', 'race_asian', 'race_hawaiian', 'race_other',
       'race_hispanic', 'foreign_born_total', 'foreign_born_native',
       'foreign_born_foreign', 'own_vs_rent_total', 'own_vs_rent_owner',
       'own_vs_rent_rent', 'hosehold_size_total',
       'household_size_owner_occupied', 'household_size_renter_occupied',
       'internet_total', 'internet_subscription', 'internet_no_subscription',
       'internet_no_access', 'age_total', 'age_less_5', 'age_6_15',
       'age_16_64', 'age_64_over', 'median_income', 'pc_below_poverty',
       'income_houses_total', 'homes_below_poverty',
       'english_total_households', 'english_spanish', 'english_european',
       'english_asian', 'english_other', 'english_english',
       'Geographic Area Name',
       'Estimate!!Total!!Subject!!DISABILITY TYPE BY DETAILED AGE!!With a hearing difficulty!!Population 18 to 64 years',
       'Estimate!!Total!!Subject!!DISABILITY TYPE BY DETAILED AGE!!With a vision difficulty!!Population 18 to 64 years',
       'Estimate!!Total!!Subject!!DISABILITY TYPE BY DETAILED AGE!!With a cognitive difficulty!!Population 18 to 64 years',
       'Estimate!!Total!!Subject!!DISABILITY TYPE BY DETAILED AGE!!With an ambulatory difficulty!!Population 18 to 64 years',
       'Estimate!!Total!!Subject!!DISABILITY TYPE BY DETAILED AGE!!With a self-care difficulty!!Population 18 to 64 years',
       'Estimate!!Total!!Subject!!DISABILITY TYPE BY DETAILED AGE!!With an independent living difficulty!!Population 18 to 64 years',
       'hearing_difficulty', 'vision_difficulty', 'cognative_difficulty',
       'ambulatory_difficulty', 'self_care_difficulty',
       'independent_living_difficulty', 'geometry'],
      dtype='object')

## Dot layers

In [455]:
!ls NewData/

 ACSDT5Y2018.B01003_TotalPopulation.csv
 ACSDT5Y2018.B02001_Race_NYC.csv
 ACSDT5Y2018.B02001_Race_NYC_Updated.csv
 ACSDT5Y2018.B05002_ForeignBorn_NYC.csv
 ACSDT5Y2018.B05002_ForeignBorn_NYC_Updated.csv
 ACSDT5Y2018.B25003_Tenure_OwnVSRent.csv
 ACSDT5Y2018.B25010_AvgHouseholdSize.csv
 ACSDT5Y2018.B25074_RentBurden.csv
 ACSDT5Y2018.B28002_InternetSubscriptions.csv
 ACSDT5Y2018.B28002_InternetSubscriptions_Updated.csv
 ACSDT5Y2018.B28003_HasAComputer.csv
 ACSST5Y2018.S0101_Age_NYC.csv
 ACSST5Y2018.S1601_LanguageSpokenAtHome.csv
 ACSST5Y2018.S1602_LimitedEnglishProficiency.csv
 ACSST5Y2018.S1810_Disability.csv
 ACSST5Y2018.S1810_Disability_Updated.csv
 ACSST5Y2018.S1901_IncomeHouseholds_NYC.csv
'Community Assets (Dot Layers)'
'Community Assets (Dot Layers)-20200210T171153Z-001.zip'
'Interactive Map Demographic Data Dictionary.xlsx'
 reconferencelineforourcallat11.zip

In [9]:
dot_layer_path = Path('NewData/dot_layers/')

In [116]:
dot_layers = {
    "HospitalsandHealthClinics_Layer":{
        "lname":"Hospitals and Rehab Centers",
        "address_cols":['Number', 'Street','City','State','Zip'],
        'name_col':'Facility_N',
        'type': 'Hospitals and Health Clinics',
        'icon':'Dot_Hospitals.png'
    },
    "FaithBasedOrganizations_Layer":{
     "lname" : "Faith-Based Organizations",
     "name_col" : "Partner",
     'type':'Faith Based Organizations',
     'icon': 'Dot_FBO.png',
     "address_cols" : [ 'Street', 'City',
       'State', 'Zip']
    },
    "CityWide Community Schools":
    { 
        "lname":"City Wide Community Schools",
        "name_col":"facname",
        "type":'Community Schools',
        "address_cols":['address','boro','zipcode'],
        'icon':'Dot_CommunitySchools.png'
    },
    
    "LGBTQOrganizations_Layer":{
        "lname": "LGBTQ Centers and Services", 
        "address_cols":['Street','City','State','Zip'], 
        'name_col':'Organizati',
        'type':"LGBTQ",
        'icon': 'Dot_LGBTQ.png'
    },
    
    "Food_kitchens_and_food_pantries":{
        "lname": "Food Kitchens and Pantries",
        "address_cols":['address','city','zipcode'],
        "type" :'Food Kitches and Pantries',
        'name_col':'facname',
        'icon':'Dot_FoodKitchens.png'
    },
    
    "Senior_Centers":{
        "lname": "Senior Centers",
        "address_cols":['address','city','zipcode'], 
        'type':'Senior Centers',
        'name_col': 'facname',
        'icon':'Dot_SeniorCenters.png'
    },
    
    "Universal_PreK":{
        "lname":"Universal Pre-K",
        "address_cols":['address','city','zipcode'],
        "type":'Universal Pre K',
        "name_col":'facname',
        "icon":'Dot_UniPreK.png'
    },

    "PUBLIC_K12": {
        "lname": "K-12 (NYC Public Schools)",
        "address_cols":['address','city','zipcode'],
        "type":"Public K12",
        "name_col":'facname',
        'icon':'Dot_K12.png'
    },
    
    "Community_centers_and_community_schools":{
        "lname": "Community Schools",
        "address_cols":['address','city','zipcode'],
        "name_col":'opname',
        'type': 'Community centers and schools',
        'icon':'Dot_CommunityCenters.png'
    },
    
    "MentalHealthOrganizations_Layer":{
        "lname": "Mental Health Services",
        "address_cols":['street_1','city','zip'],'name_col':'name_1',
        'type':'Mental Health Orgs',
        'name_col':'name_1',
        'icon':'Dot_MentalHealth.png'
    },
    
    "CommunityBasedOrganizations_Layer":{
        "lname":"Community-Based Organizations",
        "address_cols":['Street','City','Zip_1'], 
        'name_col' : 'Partner',
        'type': 'Community Based Organizations',
        'icon':'Dot_CBO.png'
    },
    
    "Public_Libraries":{
        "lname":"Public Libraries",
        "address_cols":['address','city','zipcode'], 
        'name_col':'facname',
        'type':'Libraries',
        'icon':'Dot_Libraries.png'
    }
}

In [124]:
[ {layer['lname']:  layer['icon']} for key, layer in dot_layers.items()]

[{'Hospitals and Rehab Centers': 'Dot_Hospitals.png'},
 {'Faith-Based Organizations': 'Dot_FBO.png'},
 {'City Wide Community Schools': 'Dot_CommunitySchools.png'},
 {'LGBTQ Centers and Services': 'Dot_LGBTQ.png'},
 {'Food Kitchens and Pantries': 'Dot_FoodKitchens.png'},
 {'Senior Centers': 'Dot_SeniorCenters.png'},
 {'Universal Pre-K': 'Dot_UniPreK.png'},
 {'K-12 (NYC Public Schools)': 'Dot_K12.png'},
 {'Community Schools': 'Dot_CommunityCenters.png'},
 {'Mental Health Services': 'Dot_MentalHealth.png'},
 {'Community-Based Organizations': 'Dot_CBO.png'},
 {'Public Libraries': 'Dot_Libraries.png'}]

In [58]:
tracts = gp.read_file('../public/census_tracts.geojson')

In [121]:
def join_address(x,cols):
    return ",".join([str(x[col]) for col in cols])

all_point_data = []

for file in dot_layers.keys():
    df = gp.read_file( dot_layer_path / (file + '.shp'))
    meta = dot_layers[file]
    df = df.rename(columns={meta['name_col']:'name'}).assign(poi_type =meta['type'])
    df = df.assign(address=df.apply(lambda x: join_address(x,meta['address_cols']),axis=1))
    df = df.assign(asset_type = meta['lname'], icon=meta['icon'])
    all_point_data.append(df[['name','asset_type','address','geometry','icon']])
pois = gp.sjoin( gp.GeoDataFrame(pd.concat(all_point_data)), tracts[['GEOID','geometry']], op='within',how='inner').rename(columns={"GEOID":'census_tract_id'}).drop('index_right',axis=1)
pois = gp.sjoin( pois, community_districts[['boro_cd','geometry']], op='within',how='inner').rename(columns={"boro_cd":'community_district_id'}).drop('index_right',axis=1)
pois = gp.sjoin( pois, city_council_districts[['coun_dist','geometry']], op='within',how='inner').rename(columns={"coun_dist":'city_council_district_id'}).drop('index_right',axis=1)
pois = gp.sjoin( pois, school_districts[['school_dist','geometry']], op='within',how='inner').rename(columns={"school_dist":'school_district_id'}).drop('index_right',axis=1)
pois = gp.sjoin( pois, ntas[['ntacode','geometry']], op='within',how='inner').rename(columns={"ntacode":'ntaid'}).drop('index_right',axis=1)

pois.drop_duplicates().to_file('../public/facilities.geojson',driver='GeoJSON')

/home/jovyan/.local/lib/python3.7/site-packages/geopandas/tools/sjoin.py:61: UserWarning: CRS of frames being joined does not match!(None != {'init': 'epsg:4326'})
  "(%s != %s)" % (left_df.crs, right_df.crs)
/home/jovyan/.local/lib/python3.7/site-packages/geopandas/tools/sjoin.py:61: UserWarning: CRS of frames being joined does not match!(None != {'init': 'epsg:4326'})
  "(%s != %s)" % (left_df.crs, right_df.crs)
/home/jovyan/.local/lib/python3.7/site-packages/geopandas/tools/sjoin.py:61: UserWarning: CRS of frames being joined does not match!(None != {'init': 'epsg:4326'})
  "(%s != %s)" % (left_df.crs, right_df.crs)
/home/jovyan/.local/lib/python3.7/site-packages/geopandas/tools/sjoin.py:61: UserWarning: CRS of frames being joined does not match!(None != {'init': 'epsg:4326'})
  "(%s != %s)" % (left_df.crs, right_df.crs)
/home/jovyan/.local/lib/python3.7/site-packages/geopandas/tools/sjoin.py:61: UserWarning: CRS of frames being joined does not match!(None != {'init': 'epsg:4326'})
  "(%s != %s)" % (left_df.crs, right_df.crs)

In [84]:
type(pois)

geopandas.geodataframe.GeoDataFrame

In [111]:
file='Senior_Centers'
gp.read_file(dot_layer_path / (file +".shp")).iloc[0]

address                                        37-06 111 Street
addressnum                                                37-06
agencyjuri                                                 None
area                                                       None
areatype                                                   None
bbl                                                  4017780027
bin                                                     4430244
boro                                                     Queens
borocode                                                      4
capacity                                                   None
captype                                                    None
censtract                                                 40100
city                                                     Corona
commboard                                                   403
council                                                      21
datadate                                    NYCDFTA: 2018-03-16
dataname                                NYCDFTA: DFTA Contracts
datasource                                              NYCDFTA
dataurl       NYCDFTA: https://data.cityofnewyork.us/Social-...
facdomain                             Health and Human Services
facgroup                                         Human Services
facname       Korean Community Services Of Metropolitan New ...
facsubgrp                                       Senior Services
factype                             Neighborhood Senior Centers
idagency                                         NYCDFTA: 44K01
idold                                                      None
latitude                                                40.7536
longitude                                              -73.8572
nta                                                        QN26
opabbrev                                             Non-public
opname        Korean Community Services Of Metropolitan New ...
optype                                               Non-public
overabbrev                                              NYCDFTA
overagency                         NYC Department for the Aging
overlevel                                         NYCDFTA: City
pgtable                               dfta_facilities_contracts
proptype                                                   None
streetname                                           111 Street
uid                                                       12039
uid_merged                                                 None
util                                                       None
utilrate                                                   None
xcoord                                               1.0238e+06
ycoord                                                   213859
zipcode                                                   11368
geometry            POINT (-73.8572355966795 40.75357273040694)
Name: 0, dtype: object

In [7]:
all_point_data = []


for layer_name in dot_layers.keys():
    point_data = gp.read_file( dot_layer_path / ( layer_name + '.shp') )
    address_cols = dot_layers[layer_name]['address_cols']
    
    all_point_data.append(point_data.assign(poi_type = dot_layers[layer_name]['lname'],address=point_data.apply(lambda x: join_address(x,meta['', name=""))
all_point_data = pd.concat(all_point_data)

SyntaxError: invalid syntax (<ipython-input-7-c1ab6f15f60b>, line 6)

[                                                 name  \
 0               Ida G. Israel Community Health Center
 1                South Queens Community Health Center
 2                  Melrose Houses Child Health Clinic
 3           Daniel Webster Houses Child Health Clinic
 4   Segundo Ruiz Belvis Diagnostic & Treatment Center
 ..                                                ...
 73                   Bushwick Community Health Center
 74                           Bellevue Hospital Center
 75                       Ridgewood Communicare Clinic
 76                    Smith Communicare Health Center
 77           Morrisania Diagnostic & Treatment Center

                      asset_type                                   address  \
 0   Hospitals and Rehab Centers        2201,Neptune Ave,Brooklyn,NY,11224
 1   Hospitals and Rehab Centers  114-2,Guy R Brewer Blvd,Jamaica,NY,11434
 2   Hospitals and Rehab Centers             348,E 156th St,Bronx,NY,10451
 3   Hospitals and Rehab Centers             401,E 168th St,Bronx,NY,10456
 4   Hospitals and Rehab Centers             545,E 142nd St,Bronx,NY,10454
 ..                          ...                                       ...
 73  Hospitals and Rehab Centers       1420,Bushwick Ave,Brooklyn,NY,11207
 74  Hospitals and Rehab Centers             462,1st Ave,New York,NY,10016
 75  Hospitals and Rehab Centers      769,Onderdonk Ave,Ridgewood,NY,11385
 76  Hospitals and Rehab Centers           60,Madison St,New York,NY,10038
 77  Hospitals and Rehab Centers            1225,Gerard Ave,Bronx,NY,10452

                                              geometry
 0                              POINT (-73.990 40.578)
 1                              POINT (-73.786 40.689)
 2   POINT (-17976931348623157081452742373170435679...
 3   POINT (-17976931348623157081452742373170435679...
 4   POINT (-17976931348623157081452742373170435679...
 ..                                                ...
 73                             POINT (-73.909 40.684)
 74                             POINT (-73.977 40.739)
 75                             POINT (-73.905 40.703)
 76                             POINT (-73.997 40.712)
 77                             POINT (-73.920 40.836)

 [78 rows x 4 columns],
                                     name                 asset_type  \
 0    11 Second Chance Deliverance Church  Faith-Based Organizations
 1               Abundant Life Tabernacle  Faith-Based Organizations
 2           Admirable Church Food Pantry  Faith-Based Organizations
 3                Agatha House Foundation  Faith-Based Organizations
 4              Agudath Israel of America  Faith-Based Organizations
 ..                                   ...                        ...
 449           Zichron Acheinu Levy (ZAL)  Faith-Based Organizations
 450           Zichron Acheinu Levy (ZAL)  Faith-Based Organizations
 451           Zichron Acheinu Levy (ZAL)  Faith-Based Organizations
 452         Zion Tabernacle F.B.H Church  Faith-Based Organizations
 453         Zion Tabernacle F.B.H Church  Faith-Based Organizations

                                        address                    geometry
 0         200-12 Hollis Ave,St Albans,NY,11412  POINT (-73.76175 40.69583)
 1           2114 Mermaid Ave,Brooklyn,NY,11224  POINT (-73.98871 40.57737)
 2        429 West 127 Street,New York,NY,10027  POINT (-73.95320 40.81224)
 3              4471 Mundy Lane,Bronx,NY,10466-  POINT (-73.84624 40.89096)
 4    42 Broadway 14th Floor,New York,NY,10004-  POINT (-74.01824 40.68863)
 ..                                         ...                         ...
 449   1429 President Street,Brooklyn,NY,11213-  POINT (-73.93605 40.67317)
 450   1429 President Street,Brooklyn,NY,11213-  POINT (-73.93605 40.67317)
 451          928 44th Street,Brooklyn,NY,11233  POINT (-73.92064 40.68209)
 452      105-01 107th Ave,Ozone Park,NY,11417-  POINT (-73.84431 40.67506)
 453      105-01 107th Ave,Ozone Park,NY,11417-  POINT (-73.84431 40.67506)

 [454 rows x 4 columns],
                                  name                   asset_type  \
 0               St. Athanasius School  City Wide Community Schools
 1      Tender Tot's East 137th Street  City Wide Community Schools
 2                NY Preschool Tribeca  City Wide Community Schools
 3      Melrose Early Childhood Center  City Wide Community Schools
 4    Therapy And Learning Center Inc.  City Wide Community Schools
 ..                                ...                          ...
 319              The Linda School.Com  City Wide Community Schools
 320                   Bronxwood - 112  City Wide Community Schools
 321                           I S 217  City Wide Community Schools
 322           P.S.50 Vito Marcantonio  City Wide Community Schools
 323    Abc Kiddieland Day Care Center  City Wide Community Schools

                                     address                    geometry
 0         6120 Bay Parkway,Brooklyn,11204.0  POINT (-73.97976 40.61595)
 1        531 East  137 Street,Bronx,10454.0  POINT (-73.91882 40.80675)
 2       88 Leonard Street,Manhattan,10013.0  POINT (-74.00470 40.71691)
 3       731 Courtlandt Avenue,Bronx,10451.0  POINT (-73.91799 40.82103)
 4            1723 8 Avenue,Brooklyn,11215.0  POINT (-73.98472 40.65896)
 ..                                      ...                         ...
 319        131-22 223 Street,Queens,11413.0  POINT (-73.74513 40.68106)
 320   1925 Schieffelin Avenue,Bronx,10466.0  POINT (-73.84397 40.88479)
 321            977 Fox Street,Bronx,10459.0  POINT (-73.89443 40.82220)
 322  433 East  100 Street,Manhattan,10029.0  POINT (-73.94097 40.78562)
 323   67-05 Roosevelt Avenue,Queens,11377.0  POINT (-73.89784 40.74634)

 [324 rows x 4 columns],
                                                  name  \
 0                 New York Transgender Advocacy Group
 1                                        GRIOT Circle
 2                                Rainbow Heights Club
 3                             SUNY - The HEAT Program
 4                         Make the Road NY - Brooklyn
 5                NYC Family Justice Center - Brooklyn
 6                      Audre Lorde Project - Brooklyn
 7                         Crux Climbing - Main Office
 8                   NYC Family Justice Center - Bronx
 9                                Destination Tomorrow
 10                               Princess Janae Place
 11          Hispanic AIDS Forum - Latino Pride Center
 12       Callen-Lorde Community Health Center - Bronx
 13                    Audre Lorde Project - Manhattan
 14                   Ali Forney Center - Headquarters
 15               Ali Forney Center - Community Center
 16                     Apicha Community Health Center
 17   Callen-Lorde Community Health Center - Manhattan
 18  Chinese American Planning Council - Project Reach
 19                                               GMHC
 20         Grand Street Settlement - Community Center
 21    Grand Street Settlement - Child & Family Center
 22                           Harm Reduction Coalition
 23                           Hetrick-Martin Institute
 24  Institute for Advanced Medicine - Comprehensiv...
 25                 Institute for Human Identity (IHI)
 26                          Latino Commission on AIDS
 27  The Legal Aid Society - LGBT Law & Policy Init...
 28                          The LGBT Community Center
 29                         L.E.S. Streetworks Project
 30        Metropolitan Community Church of NY (MCCNY)
 31              Mount Sinai Beth Isreal Endocrinology
 32           Mount Sinai Center for Advanced Medicine
 33    Mount Sinai â Institute for Advanced Medicine
 34  Mount Sinai â Institute for Advanced Medicin...
 35                   The National LGBT Cancer Network
 36              NYC Family Justice Center - Manhattan
 37                          NYC Anti-Violence Project
 38  NY Legal Assistance Group (NYLAG) â LGBT Law...
 39                Safe Horizon â Streetwork Project
 40                                SAGE Center Midtown
 41                   Sylvia Rivera Law Project (SRLP)
 42  Transgender Legal Defense & Education Fund (TL...
 43                                Translatinx Network
 44                                 The Trevor Project
 45            Unity Fellowship Breaking Ground (UFBG)
 46                 Urban Justice Center - Main Office
 47  Urban Justice Center - Community Development P...
 48                 NYC Family Justice Center - Queens
 49                  CRUX Climbing - The Cliffs at LIC
 50                          Make The Road NY - Queens
 51  Queens Community House â Queens Center for G...
 52            Queens LGBT Community Center (Q-Center)
 53          NYC Family Justice Center - Staten Island
 54  Community Health Action of Staten Island (CHAS...
 55  Community Health Action of Staten Island (CHAS...
 56  Community Health Action of Staten Island (CHAS...
 57                      Pride Center of Staten Island
 58                   Make The Road NY - Staten Island
 59                            Action Community Health

                     asset_type  \
 0   LGBTQ Centers and Services
 1   LGBTQ Centers and Services
 2   LGBTQ Centers and Services
 3   LGBTQ Centers and Services
 4   LGBTQ Centers and Services
 5   LGBTQ Centers and Services
 6   LGBTQ Centers and Services
 7   LGBTQ Centers and Services
 8   LGBTQ Centers and Services
 9   LGBTQ Centers and Services
 10  LGBTQ Centers and Services
 11  LGBTQ Centers and Services
 12  LGBTQ Centers and Services
 13  LGBTQ Centers and Services
 14  LGBTQ Centers and Services
 15  LGBTQ Centers and Services
 16  LGBTQ Centers and Services
 17  LGBTQ Centers and Services
 18  LGBTQ Centers and Services
 19  LGBTQ Centers and Services
 20  LGBTQ Centers and Services
 21  LGBTQ Centers and Services
 22  LGBTQ Centers and Services
 23  LGBTQ Centers and Services
 24  LGBTQ Centers and Services
 25  LGBTQ Centers and Services
 26  LGBTQ Centers and Services
 27  LGBTQ Centers and Services
 28  LGBTQ Centers and Services
 29  LGBTQ Centers and Services
 30  LGBTQ Centers and Services
 31  LGBTQ Centers and Services
 32  LGBTQ Centers and Services
 33  LGBTQ Centers and Services
 34  LGBTQ Centers and Services
 35  LGBTQ Centers and Services
 36  LGBTQ Centers and Services
 37  LGBTQ Centers and Services
 38  LGBTQ Centers and Services
 39  LGBTQ Centers and Services
 40  LGBTQ Centers and Services
 41  LGBTQ Centers and Services
 42  LGBTQ Centers and Services
 43  LGBTQ Centers and Services
 44  LGBTQ Centers and Services
 45  LGBTQ Centers and Services
 46  LGBTQ Centers and Services
 47  LGBTQ Centers and Services
 48  LGBTQ Centers and Services
 49  LGBTQ Centers and Services
 50  LGBTQ Centers and Services
 51  LGBTQ Centers and Services
 52  LGBTQ Centers and Services
 53  LGBTQ Centers and Services
 54  LGBTQ Centers and Services
 55  LGBTQ Centers and Services
 56  LGBTQ Centers and Services
 57  LGBTQ Centers and Services
 58  LGBTQ Centers and Services
 59  LGBTQ Centers and Services

                                             address  \
 0                81 Willoughby St,Brooklyn,NY,11201
 1                 25 Flatbush Ave,Brooklyn,NY,11217
 2                 25 Flatbush Ave,Brooklyn,NY,11217
 3           760 Parkside Ave #308,Brooklyn,NY,11226
 4                    301 Grove St,Brooklyn,NY,11237
 5           350 Jay St 15th Floor,Brooklyn,NY,11201
 6                  85 S Oxford St,Brooklyn,NY,11217
 7         228 Flatbush Ave Apt 3F,Brooklyn,NY,11217
 8        198 East 161st St 2nd Floor,Bronx,NY,10451
 9           452 E 149th St 3rd Floor,Bronx,NY,10455
 10             2526 Wallace Ave #201,Bronx,NY,10467
 11                      975 Kelly St,Bronx,NY,10459
 12                      3144 3rd Ave,Bronx,NY,10451
 13       147 W 24th St 3rd Floor,Manhattan,NY,10011
 14                 224 W 35th St,Manhattan,NY,10123
 15                321 W 125th St,Manhattan,NY,10027
 16                  400 Broadway,Manhattan,NY,10013
 17                 356 W 18th St,Manhattan,NY,10011
 18                39 Eldridge St,Manhattan,NY,10002
 19                 307 W 38th St,Manhattan,NY,10018
 20                    80 Pitt St,Manhattan,NY,10002
 21                300 Delancy St,Manhattan,NY,10002
 22               22 W 27th St #5,Manhattan,NY,10001
 23                    2 Astor Pl,Manhattan,NY,10003
 24        275 7th Ave 12th Floor,Manhattan,NY,10011
 25                   322 8th Ave,Manhattan,NY,10001
 26        24 W 25th St 9th Floor,Manhattan,NY,10010
 27         199 Water Street #6th,Manhattan,NY,10038
 28                 208 W 13th St,Manhattan,NY,10011
 29                   33 Essex St,Manhattan,NY,10002
 30              1975 Madison Ave,Manhattan,NY,10035
 31                 317 E 17th St,Manhattan,NY,10003
 32                 17 E 102nd St,Manhattan,NY,10029
 33             1000 10th Ave #2T,Manhattan,NY,10019
 34                440 W 114th St,Manhattan,NY,10025
 35             136 W 16th St #1E,Manhattan,NY,10011
 36        80 Centre St 5th Floor,Manhattan,NY,10013
 37                 116 Nassau St,Manhattan,NY,10038
 38   7 Hanover Square 18th Floor,Manhattan,NY,10004
 39                209 W 125th St,Manhattan,NY,10027
 40                   305 7th Ave,Manhattan,NY,10001
 41       147 W 24th St 5th Floor,Manhattan,NY,10011
 42             20 W 20th St #705,Manhattan,NY,10011
 43       137 W 19th St 2nd Floor,Manhattan,NY,10011
 44           W 39th St & 8th Ave,Manhattan,NY,10018
 45                521 W 126th St,Manhattan,NY,10027
 46                  40 Rector St,Manhattan,NY,10006
 47  123 William Street, 16th Fl.,Manhattan,NY,10038
 48                  126-02 82nd Ave,Queens,NY,11415
 49                    11-11 44th Dr,Queens,NY,11101
 50              92-10 Roosevelt Ave,Queens,Ny,11373
 51                    37-06 77th St,Queens,NY,11372
 52    37-18 Northern Blvd Suite 107,Queens,NY,11101
 53         126 Stuyvesant Pl,Staten Island,NY,10301
 54     166 Port Richmond Ave,Staten Island,NY,10302
 55     2134 Richmond Terrace,Staten Island,NY,10302
 56                 56 Bay St,Staten Island,NY,10301
 57           25 Victory Blvd,Staten Island,NY,10301
 58     161 Port Richmond Ave,Staten Island,NY,10302
 59               25 Hyatt St,Staten Island,NY,10301

                       geometry
 0   POINT (-73.94714 40.65645)
 1   POINT (-73.98061 40.68495)
 2   POINT (-73.98061 40.68495)
 3   POINT (-73.95630 40.64496)
 4   POINT (-73.91807 40.70219)
 5   POINT (-73.98932 40.69448)
 6   POINT (-73.98061 40.68495)
 7   POINT (-73.98061 40.68495)
 8   POINT (-73.92036 40.81933)
 9   POINT (-73.90836 40.81503)
 10  POINT (-73.86570 40.86995)
 11  POINT (-73.89360 40.82563)
 12  POINT (-73.92036 40.81933)
 13  POINT (-73.99977 40.74092)
 14  POINT (-73.99054 40.75149)
 15  POINT (-73.95320 40.81224)
 16  POINT (-74.00350 40.72210)
 17  POINT (-73.99977 40.74092)
 18  POINT (-73.98643 40.71876)
 19  POINT (-73.99317 40.75533)
 20  POINT (-73.98602 40.71584)
 21  POINT (-73.98602 40.71584)
 22  POINT (-73.99633 40.75042)
 23  POINT (-73.98856 40.73022)
 24  POINT (-73.99977 40.74092)
 25  POINT (-73.99633 40.75042)
 26  POINT (-73.98354 40.73902)
 27  POINT (-74.00337 40.71022)
 28  POINT (-73.99977 40.74092)
 29  POINT (-73.98643 40.71876)
 30  POINT (-73.93470 40.80191)
 31  POINT (-73.98856 40.73022)
 32  POINT (-73.94352 40.79188)
 33  POINT (-73.98544 40.76593)
 34  POINT (-73.96778 40.79866)
 35  POINT (-73.99977 40.74092)
 36  POINT (-74.00350 40.72210)
 37  POINT (-74.00337 40.71022)
 38  POINT (-74.01824 40.68863)
 39  POINT (-73.95320 40.81224)
 40  POINT (-73.99633 40.75042)
 41  POINT (-73.99977 40.74092)
 42  POINT (-73.99977 40.74092)
 43  POINT (-73.99977 40.74092)
 44  POINT (-73.99317 40.75533)
 45  POINT (-73.95320 40.81224)
 46  POINT (-74.01317 40.70883)
 47  POINT (-74.00337 40.71022)
 48  POINT (-73.82925 40.70713)
 49  POINT (-73.93450 40.74462)
 50  POINT (-73.82842 40.65242)
 51  POINT (-73.92368 40.55596)
 52  POINT (-73.92475 40.75255)
 53  POINT (-74.09332 40.62363)
 54  POINT (-74.17996 40.53324)
 55  POINT (-74.17996 40.53324)
 56  POINT (-74.17996 40.53324)
 57  POINT (-74.13491 40.61026)
 58  POINT (-74.14072 40.54483)
 59  POINT (-74.09332 40.62363)  ,
                                                   name  \
 0    FBNYC: FBNYC Food Pantry Soup Kitchen List 8-5-16
 1    FBNYC: FBNYC Food Pantry Soup Kitchen List 8-5-16
 2    FBNYC: FBNYC Food Pantry Soup Kitchen List 8-5-16
 3    FBNYC: FBNYC Food Pantry Soup Kitchen List 8-5-16
 4    FBNYC: FBNYC Food Pantry Soup Kitchen List 8-5-16
 ..                                                 ...
 756  FBNYC: FBNYC Food Pantry Soup Kitchen List 8-5-16
 757  FBNYC: FBNYC Food Pantry Soup Kitchen List 8-5-16
 758  FBNYC: FBNYC Food Pantry Soup Kitchen List 8-5-16
 759  FBNYC: FBNYC Food Pantry Soup Kitchen List 8-5-16
 760  FBNYC: FBNYC Food Pantry Soup Kitchen List 8-5-16

                      asset_type                                     address  \
 0    Food Kitchens and Pantries       1149 Eastern Parkway,Brooklyn,11213.0
 1    Food Kitchens and Pantries        46 West   16 Street,New York,10011.0
 2    Food Kitchens and Pantries  21-23 Birdsall Avenue,Far Rockaway,11691.0
 3    Food Kitchens and Pantries        1695 Washington Avenue,Bronx,10457.0
 4    Food Kitchens and Pantries        13 East  125 Street,New York,10035.0
 ..                          ...                                         ...
 756  Food Kitchens and Pantries         5 West  128 Street,New York,10027.0
 757  Food Kitchens and Pantries         456 EAST 168TH STREET,Bronx,10457.0
 758  Food Kitchens and Pantries            139-35 88 Avenue,Jamaica,11435.0
 759  Food Kitchens and Pantries     777 Schenectady Avenue,Brooklyn,11203.0
 760  Food Kitchens and Pantries    22-15 43 Avenue,Long Island City,11101.0

                        geometry
 0    POINT (-73.93019 40.66918)
 1    POINT (-73.99528 40.73804)
 2    POINT (-73.75396 40.60694)
 3    POINT (-73.90113 40.84220)
 4    POINT (-73.94157 40.80642)
 ..                          ...
 756  POINT (-73.94129 40.80875)
 757  POINT (-73.88169 40.84701)
 758  POINT (-73.81272 40.70427)
 759  POINT (-73.93325 40.65424)
 760  POINT (-73.94457 40.74428)

 [761 rows x 4 columns],
                                                   name      asset_type  \
 0                              NYCDFTA: DFTA Contracts  Senior Centers
 1                              NYCDFTA: DFTA Contracts  Senior Centers
 2                              NYCDFTA: DFTA Contracts  Senior Centers
 3                              NYCDFTA: DFTA Contracts  Senior Centers
 4                              NYCDFTA: DFTA Contracts  Senior Centers
 ..                                                 ...             ...
 254  NYCDCAS: City Owned and Leased Properties;NYCD...  Senior Centers
 255                            NYCDFTA: DFTA Contracts  Senior Centers
 256                            NYCDFTA: DFTA Contracts  Senior Centers
 257                            NYCDFTA: DFTA Contracts  Senior Centers
 258  NYCDCAS: City Owned and Leased Properties;NYCD...  Senior Centers

                                         address                    geometry
 0               37-06 111 Street,Corona,11368.0  POINT (-73.85724 40.75357)
 1              50 Lenox Avenue,New York,10026.0  POINT (-73.95076 40.79948)
 2          34 West  134 Street,New York,10037.0  POINT (-73.94036 40.81237)
 3                 644 Adee Avenue,Bronx,10467.0  POINT (-73.86903 40.86920)
 4    1440 East New York Avenue,Brooklyn,11212.0  POINT (-73.91438 40.67045)
 ..                                          ...                         ...
 254    10-25 41 Avenue,Long Island City,11101.0  POINT (-73.94452 40.75558)
 255         280 Wyckoff Street,Brooklyn,11217.0  POINT (-73.98346 40.68291)
 256        108-25 62 Drive,Forest Hills,11375.0  POINT (-73.85012 40.73629)
 257         85 Palmetto Street,Brooklyn,11221.0  POINT (-73.91916 40.69152)